In [1]:
!pip install wget

Requirement already satisfied: wget in c:\users\chirayu\anaconda3\lib\site-packages (3.2)

In [2]:
import wget
url="https://s3.amazonaws.com/coderbyteprojectattachments/biourja-efzrr-y7i38ed9-input.csv"
file=wget.download(url)

In [3]:
import pandas as pd
df=pd.read_csv(file)
df.head()
df1=pd.read_csv(file)

In [4]:
for i,x in enumerate(df['Plant_Name']):
  df.iloc[i,df.columns.get_loc('Plant_Name')] = x[0]
df.head()

  Plant_Name  Forecast  Capacity
0          E      45.4       100
1          E      31.2       150
2          E       8.5        50
3          E      88.2       100
4          E      98.4       150

In [5]:
a=df.groupby('Plant_Name')
total_Forecast=a['Forecast'].sum()
total_Capacity=a['Capacity'].sum()
grouped = df.groupby('Plant_Name').agg({'Forecast': 'sum', 'Capacity': 'sum'}).reset_index()
grouped.head()

  Plant_Name  Forecast  Capacity
0          E    2430.4      3600
1          N    3234.4      5800
2          S    5686.3      7950
3          W    1035.9      2100

In [6]:
total_state_forecast= df['Forecast'].sum()
print(total_state_forecast)

12387.0

In [7]:
weight=(df1.Forecast/df1.Capacity)
df1["Weight"]=weight

In [8]:
df1.head()

  Plant_Name  Forecast  Capacity  Weight
0         E1      45.4       100   0.454
1         E2      31.2       150   0.208
2         E3       8.5        50   0.170
3         E4      88.2       100   0.882
4         E5      98.4       150   0.656

In [9]:
norm_weight = df1['Weight']/(df1['Weight'].sum())
df1['Norm_Weight']=norm_weight

In [10]:
df1.head()

  Plant_Name  Forecast  Capacity  Weight  Norm_Weight
0         E1      45.4       100   0.454     0.007625
1         E2      31.2       150   0.208     0.003493
2         E3       8.5        50   0.170     0.002855
3         E4      88.2       100   0.882     0.014812
4         E5      98.4       150   0.656     0.011017

In [36]:
new_forecast = total_state_forecast*df1['Norm_Weight']
df1['new_forecast']=new_forecast
for index, row in df1.iterrows():
    if row['new_forecast'] <= row['Capacity']:
        df1.at[index, 'new_forecast'] = row['new_forecast']
    else:
        df1.at[index, 'new_forecast'] = row['Capacity']

In [35]:
df1.head()

,Plant_Name,Forecast,Capacity,Weight,Norm_Weight,new_forecast,adjusted_forecast
0,E1,45.4,100,0.454,0.007625,94.444845,103.338514
1,E2,31.2,150,0.208,0.003493,43.269885,47.344518
2,E3,8.5,50,0.170,0.002855,35.364810,38.695038
3,E4,88.2,100,0.882,0.014812,100.000000,109.416786
4,E5,98.4,150,0.656,0.011017,136.466561,149.317325

In [33]:
totalnew_forecast=df1['new_forecast'].sum()
adjustment= 12000/totalnew_forecast
adjusted_forecast=df1['new_forecast']*adjustment
df1['adjusted_forecast']=adjusted_forecast

In [34]:
df1['adjusted_forecast'].sum()

12000.000000000004